<h2>Do you want to edit or delete your tweet?</h2>

<h4><%= @tweet.content %></h4>
<form action="/tweets/<%= @tweet.id %>/edit">
  <input type="submit" value="Edit Tweet">
</form>
<br></br>
<form action="/tweets/<%= @tweet.id %>/delete">
  <input type="submit" value="Delete Tweet">
</form>
